.edit-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 5px;
    background-color: transparent; /* Set the background color of the button container to transparent */
  }
  
  /* Override button styles */
  .edit-button-container .btn-image {
      background-color: transparent;
      border: none;
      padding: 0;
  }
  
  .img-container{
      justify-content: center;
      align-items: center;
      display: flex;
      /* margin-left: 40px; */
  }
  .portrait{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      /* align-items: center;
      justify-content: center;
      display: flex; */
      position: relative;
      margin-bottom: 5px;
  }
  
  .profile-img{
      width: 200px;
      height: 200px;
      display: block;
      position: absolute;
      top: 50%; /* Place the top edge at the vertical center */
      left: 50%; /* Place the left edge at the horizontal center */
      transform: translate(-50%, -50%); /* Translate the image back by half of its own width and height */
  }
  
  .btn-image{
      width:50px;
      height: 50px;
      float: right;
      cursor: pointer;
  }
    
  .custom-row {
      display: flex;
      flex-wrap: wrap;
    }
    
  .custom-col {
  flex: 1 0 50%; /* Equal width for both columns */
  padding: 10px; /* Add padding as desired */
  box-sizing: border-box; /* Include padding in width calculation */
  }
  
  .seeker-title {
      font-weight: bold; /* Make the title bold */
      font-size: 1.2em; /* Increase font size for the title */
      margin-right: 20px;
  }
    
    .seeker-info {
      font-size: 1.1em; /* Increase font size for the information */
      margin-left: 10px;
  }
    
  
  
    @media (max-width: 768px) {
      .custom-row {
        flex-direction: column; /* Stack columns on smaller screens */
          
      }
      .portrait{
          width: 100px;
          height: 100px;
      }
  
      .info-container {
          text-align: center; /* Center align for small screens */
      }
  
      .text-sm-center {
          text-align: center !important; /* Force center alignment on small screens */
      }
  
      .text-md-end {
          text-align: right; /* Align to the right on medium and larger screens */
      }
  
      .profile-img{
          width: 100px;
          height: 100px;
      }
  
      .seeker-info{
          margin: 0;
      }
      .seeker-title{
          margin: 0;
      }

  
  
      .custom-col {
        flex: 1 0 100%; /* Full width for each column on smaller screens */
      }
    }
  
    