.img-input {
    display: none; /* Hide the input */
  }
  
  .custom-file-label {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Keep only the label visible */
  .custom-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; /* Set width for the container */
    height: 200px; /* Set height for the container */
    border-radius: 50%; /* Apply rounded shape */
    overflow: hidden; /* Hide overflow */
    position: relative; /* Position the container */
    border: 2px solid #ccc; /* Example border style */
  }
  
  .custom-upload input {
    display: none; /* Hide the input */
  }
  
  .custom-upload label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  .edit-form {
    max-width: 300px; /* Set a maximum width for form elements on larger screens */
    font-size: 1em; /* Adjust font size for form elements on larger screens */
  }
  
  @media (max-width: 768px) {
    .custom-upload {
      width: 100px; /* Adjust width for smaller screens */
      height: 100px; /* Adjust height for smaller screens */
    }
  
    .custom-upload label {
      font-size: 0.8em; /* Reduce font size for smaller screens */
    }

    .edit-form {
        max-width: 500px; /* Set a maximum width for form elements on larger screens */
        font-size: 1em; /* Adjust font size for form elements on larger screens */
      }

  }
  