/* Styles for the right column content */
.right-side {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .total-rating {
    margin-bottom: 15px;
  }
  
  .rating-input,
  .form-control {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .btn-submit {
    margin-top: 10px;
  }
  
  .management {
    text-decoration: none;
    color: inherit;
  }
  
  @media (max-width: 768px) {
  
    .shelter {
      flex: 1 0 100%; /* Full width for each column on smaller screens */
      padding: 10px; /* Add padding as desired */
      box-sizing: border-box; /* Include padding in width calculation */
      text-align: center; /* Center text content */
    }
  }